{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-postcss"]
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    [
      "wrap-in-js",
      {
        "extensions": ["md$"]
      }
    ],
    "transform-class-properties",
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
