.menu {
    padding: 30px 60px;
    text-align: left;
    width: 40%;
    .selected {
        position: relative;
        height: 50px;
    }
    label {
        height: 100%;
        width: 100%;
        line-height: 50px;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
    }
    .line {
        height: 2px;
        background: #e7e7e7;
        width: 50px;
        display: block;
        margin: 20px 0 0 0;
    }
    ul {
        width: calc(100% - 120px);
        li {
            padding-left: 1px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            cursor: default;
            user-select: none;
            transition: 'background' ease 0.05s;
        }
        .item-0 {
            z-index: 3;
        }
        .item-1 {
            z-index: 2;
        }
        .item-2 {
            z-index: 1;
        }
    }
}

.content {
    padding: 20px 60px 50px 60px;
    text-align: left;
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 50%;
            height: 250px;
            box-sizing: border-box;
            margin-bottom: 30px;
            &:nth-child(2n) {
              padding-left: 30px;
            }
            &:nth-child(2n+1) {
              padding-right: 30px;
            }
        }
        .title {
            font-size: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.5s ease;
            span {
                height: 2px;
                background: #e7e7e7;
                width: 50px;
                display: block;
                margin: 20px 0 30px 0;
            }
        }
        .introduction {
            color: #c3c3c3;
            font-size: 14px;
            text-indent: 2rem;
            line-height: 30px;
        }
        .information {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            color: #c3c3c3;
            .iconfont {
                color: red;
            }
        }
    }
}

.article {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 20rem);
    .title {
        font-size: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 1s ease;
    }
    .move-title {
      position: absolute;
      width: 100%;
      text-align: left;
      transition: all 2s ease;
    }
    .content {
        opacity: 0;
        padding-top: 50px;
        color: #c3c3c3;
        font-size: 14px;
        text-indent: 2rem;
        line-height: 30px;
    }
    .information {
        opacity: 0;
        display: flex;
        padding: 20px 60px;
        justify-content: space-between;
        margin-top: 20px;
        color: #c3c3c3;
        transition: all 2s ease 1s;
        .iconfont {
            color: red;
        }
    }
}
