.menu {
    padding: 30px 60px;
    text-align: left;
    width: 40%;
    .selected {
        position: relative;
        height: 50px;
    }
    label {
        height: 100%;
        width: 100%;
        line-height: 50px;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
    }
    .line {
        height: 2px;
        background: #e7e7e7;
        width: 50px;
        display: block;
        margin: 20px 0 0 0;
    }
    ul {
        width: calc(100% - 120px);
        li {
            padding-left: 1px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            cursor: default;
            user-select: none;
            transition: 'background' ease 0.05s;
            cursor: pointer;
        }
        .item-0 {
            z-index: 3;
        }
        .item-1 {
            z-index: 2;
        }
        .item-2 {
            z-index: 1;
        }
    }
}

.content {
    padding: 20px 60px 50px 60px;
    text-align: left;
    .blur {
        filter: blur(5px);
        transition: 0.3s filter linear;
    }
    .unblur {
        filter: blur(0px);
        transition: 0.1s filter linear;
    }
    >ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li {
            width: 50%;
            height: 250px;
            box-sizing: border-box;
            margin-bottom: 30px;
            &:nth-child(2n) {
                padding-left: 30px;
            }
            &:nth-child(2n+1) {
                padding-right: 30px;
            }
        }
        .title {
            font-size: 20px;
            margin-bottom: 20px;
            cursor: pointer;
            transition: all 0.5s ease;
            span {
                height: 2px;
                background: #e7e7e7;
                width: 50px;
                display: block;
                margin: 20px 0 30px 0;
            }
        }
        .introduction {
            color: #c3c3c3;
            font-size: 14px;
            text-indent: 2rem;
            line-height: 30px;
            height: 90px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
        .information {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            color: #c3c3c3;
            .iconfont {
                cursor: pointer;
                &:hover {
                    color: red;
                }
            }
            .like {
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}

.article {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 20rem);
    .title {
        font-size: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 1s ease;
    }
    .move-title {
        position: absolute;
        width: 100%;
        text-align: left;
        transition: all 2s ease;
    }
    .content {
        opacity: 0;
        padding: 50px 100px 20px;
        color: #333333;
        font-size: 14px;
        line-height: 30px;
        transition: all 2s ease 1s;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            line-height: 1.7;
            cursor: text;
            position: relative;
            margin: 1em 0 15px;
            padding: 0;
        }
        h1 {
            font-size: 2.5em;
            border-bottom: 1px solid #ddd;
        }
        h2 {
            font-size: 2em;
            border-bottom: 1px solid #eee;
        }
        h3 {
            font-size: 1.5em;
        }
        h4 {
            font-size: 1.2em;
        }
        h5 {
            font-size: 1em;
        }
        h6 {
            color: #777;
            font-size: 1em;
        }
        pre {
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        code {
            padding: 0;
            font-size: inherit;
            color: inherit;
            white-space: pre-wrap;
            background-color: transparent;
            border-radius: 0;
            line-height: 26px;
        }
        ul {
            display: block;
            margin-left: 2rem;
        }
        li {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0 !important;
            list-style: circle;
        }
    }
    .information {
        opacity: 0;
        display: flex;
        padding: 20px 100px 60px 100px;
        justify-content: space-between;
        margin-top: 20px;
        color: #c3c3c3;
        transition: all 2s ease 1s;
        .iconfont {
            cursor: pointer;
            &:hover {
                color: red;
            }
        }
        .like {
            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

.red {
    color: red;
}
